doctype
html(lang="zh-CN")
  head
    include head

  body
    include sidebar
    .main
      include nav

      block content

    script(src= url_for('js/jquery-1.9.0.min.js'))
    script(src= url_for('js/jquery-migrate-1.2.1.min.js'))
    script(src= url_for('js/jquery.appear.js'))
    script(src= url_for('js/transform.js'))
    script(src= url_for('js/alloy_flow.js'))
    script(src= url_for('js/to.js'))
    script(src= url_for('js/homeAnimation.js'))
