.personal
  li 懒但还没癌，宁可闲着无聊到死也不会自主的去找乐子；《我的世界》爱好者，是国际版、不是网易的中国版；小时候玩游戏，长大了喜欢看别人看游戏。
  li 有盼头的异地恋中，另一半在我本校读研，搞着我不懂但是觉得很高端的东西。不怕被笑话的说，这辈子最大的追求大概就是跟她结婚了。
  li 对技术有好奇心也感兴趣，但一点都不狂热、也不专研，自己概括四个字是“够用就好”，习惯把自己保持在技术能力稍微比工作需要多出一丢丢的程度。