doctype
html(lang="zh-CN")
    head
        include head

    body
        .main
            include nav

            block content

        script(src= url_for('js/jquery-1.9.0.min.js'))
        script(src= url_for('js/jquery-migrate-1.2.1.min.js'))
        script(src= url_for('js/jquery.appear.js'))
